@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: Helvetica Neue, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

div, a, p {
    @apply text-[20px] xl:text-[32px]
}

